.main-div, .loggedin-div {
    width: 20%;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
    display: none;
  }
  
  input, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }