@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

#search-txt {
  position: relative;
  top: -95px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
  width: 450px;
  font-size: 25pt;
  font-family: 'Montserrat', sans-serif;
}
#title {
  margin: 150px;
}
#temp {
  font-family: 'Montserrat', sans-serif;
  font-size: 22pt;
  position: relative;
  top: -70px;
}
#humidity-div {
  font-family: 'Montserrat', sans-serif;
  font-size: 22pt;
  position: relative;
  top: -60px;
}
#weather-div, #weather-div-desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 22pt;
  position: relative;
  top: -40px;
}
#weather-div-desc {
  font-size: 14pt;
  top: -30px;
}
img {
  position: relative;
  top: 90px;
}
#credit {
  position: fixed;
  bottom: -25px;
  right: 0;
}
button:hover, button:hover {
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;
  }
button {
    background: #5d8ffc;
    color: #fff;
    border: 1px solid #5d8ffc;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 25%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}